.inner
{
  display: flex;
  background-color: cyan;
  padding: 40px 35px;
  gap: 20px;
}
.first
{
  padding: 5px;
  background-color: rgb(87, 127, 187);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px 10px;
}
.second
{
  padding: 5px;
  background-color: rgb(222, 152, 152);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px 10px;
}
p
{
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50px;
  display: grid;
  place-content: center;
  padding: 5px;
  color: white;
  font-size: 25px;
  font-weight: 500;
}