
.post-container
{
  width: 550px;
  height: 170px;
  display: flex;
   justify-content: space-evenly;
}
img
{
  height: 250px;
  width:100px;
  border-radius: 20px;
}
.pagination-container
{
  display: flex;
  margin-top: 10vw;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.prev
{
  cursor: pointer;

}
.pageNo
{
  cursor: pointer;

}
.next
{
  cursor: pointer;

}
.btn
{
  padding: 10px 10px;
  border-radius: 5px;
  background: black;
  color: white;
}
.active
{
  background: white;
  color: black;
}